/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Open+Sans:wght@300&display=swap");
/*VARIABLES*/
/*UTILITIES*/
.bg-dark {
  background-color: #14151a;
}

.bg-light {
  background-color: #fefefe;
}

.ml-2 {
  margin-left: 2rem;
}

/*MIXINS*/
.btn {
  background-color: #fefefe;
  color: #e51515;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: none;
  outline: none;
  letter-spacing: 2px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:hover {
  background-color: #e51515;
  color: #fefefe;
}

.btn-primary {
  background-color: #e51515;
  color: #fefefe;
}

.btn-primary:hover {
  background-color: #fefefe;
  color: #e51515;
}

/*GENERAL SETTINGS*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #9f9f9f;
}

.container {
  max-width: 114rem;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Changa", sans-serif;
  color: #fefefe;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/*TOP HEADER*/
.top-header {
  border-bottom: 1px solid #e51515;
}

.top-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header .container .logo h1 {
  font-size: 5rem;
  font-family: "Changa", sans-serif;
  color: #e51515;
}

.top-header .container .top-social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-header .container .top-social-menu li {
  padding: 1rem;
  margin: 0 1rem;
}

.top-header .container .top-social-menu li a {
  font-size: 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.top-header .container .top-social-menu li:hover a {
  color: #e51515;
}

.top-header .container .login-area span {
  display: none;
}

/*NAV HEADER*/
.nav-header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-header .navbar .navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-header .navbar .navbar-list li {
  line-height: 8rem;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-header .navbar .navbar-list li .dropdown {
  position: absolute;
  background-color: #2a2c37;
  width: 150%;
  left: 50%;
  z-index: 10;
  top: 12rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.nav-header .navbar .navbar-list li .dropdown li {
  line-height: 4rem;
}

.nav-header .navbar .navbar-list li:hover {
  background-color: #e51515;
}

.nav-header .navbar .navbar-list li:hover .dropdown {
  opacity: 1;
  top: 8rem;
}

.nav-header .navbar .navbar-list a {
  padding: 0 2rem;
  font-size: 1.6rem;
  letter-spacing: 2px;
}

.nav-header .navbar .navbar-list i {
  color: #fefefe;
  font-size: 1.6rem;
  margin-right: 2rem;
}

.nav-header .navbar .search-area input[type='search'],
.nav-header .navbar .search-area button[type='submit'] {
  border: none;
  background-color: transparent;
  color: #fefefe;
}

.nav-header .navbar .search-area input[type='search'] {
  border-bottom: 1px solid #e51515;
  padding: 0.5rem;
}

.nav-header .navbar .search-area button[type='submit'] {
  margin-left: -5rem;
}
/*# sourceMappingURL=styles.css.map */