/*FONTS*/

@import url("https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Open+Sans:wght@300&display=swap");

/*VARIABLES*/

$primary-font: Chang, sans-serif;
$secondary-font: "Open Sans", sans-serif;
$primary-color: #e51515;
$secondary-color: #14151a;
$date-color: #ffb320;
$comment-color: #08abbd;
$gray-color: #9f9f9f;
$light-color: #fefefe;
